body {
		font-size: 12px;
		font-family: Verdana,Arial,Helvetica,sans-serif;
		margin: 0;
		padding: 0;
	}
	.pager{
		font-size: 12px;
		margin: 25px 0;
		text-align: center;
		color: #2e6ab1;
		line-height: 200%;
		overflow: hidden;
	}

	.pager .current{
		background-color: #2e6ab1;
		border: 1px solid navy;
		color: white;
		font-weight: bold;
		margin: 0 2px;
		padding: 2px 5px;
		cursor:default;
	}
	
	.pager a{
		border: 1px solid #9aafe5;
		color: #2e6ab1;
		margin: 0 2px;
		padding: 2px 5px;
		text-decoration: none;
		cursor: pointer;
	}



/*----start 默认样式 start----*/
	.default-pager{
	font-size: 12px;
	margin: 10px 0;
	text-align: right;
	line-height: 2;
	overflow: hidden;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}

.default-pager a{
	padding: 2px 5px;
	text-decoration: none;
	cursor:pointer;
	color:#666666;
}

.default-pager a:hover{
	color:orange;
}

.default-pager a.default-disabled{
	color:lightgray;
	cursor:default;
}

.default-pager a.current{
	color:red;
	font-weight:bold;
	cursor:default;
}

.shenglue{
	position: relative;
	top: -3px;
}
/*----end 默认样式 end----*/